env
build
build_*
logs_*
database/*
!database/artix7
database/artix7/*
!database/artix7/mapping
!database/kintex7
database/kintex7/*
!database/kintex7/mapping
!database/zynq7
database/zynq7/*
!database/zynq7/mapping
!database/spartan7
database/spartan7/*
!database/spartan7/mapping
.Xil
**/specimen_*
**/output
run.ok
run.*.ok
__pycache__
*.pyc
*.swp
*.egg-info
*vivado*.jou
*vivado*.log
