sphinx_materialdesign_theme

docutils
sphinx
sphinx-autobuild

breathe
recommonmark
sphinx-markdown-tables
sphinxcontrib-napoleon

# Markdown cross-reference solver library
git+https://github.com/SymbiFlow/sphinxcontrib-markdown-symlinks
