sphinx_materialdesign_theme

docutils
# Disabling direct sphinx because of https://github.com/pypa/pip/issues/9031
# sphinx
sphinx-autobuild

breathe
recommonmark
sphinx-markdown-tables
sphinxcontrib-napoleon

# Markdown cross-reference solver library
git+https://github.com/SymbiFlow/sphinxcontrib-markdown-symlinks
